@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

:root {
    --background: 36 14% 91%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
}

* {
    border-color: hsl(var(--border));
}

body {
    background-color: var(--color-bg-light);
    color: hsl(var(--foreground));
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

@theme {
    --color-primary: #b06d5b; /* Light Gray */
    --color-secondary: #daab9f; /* Soft Beige */
    --color-tertiary: #5b443e; 
    --color-accent: #d58771; 

    --color-text-primary: #0a0807;
    /* Very dark brown for body text */
    
    --color-text-light: #ffffff;
    /* White for text on dark/accent */
    --color-bg-light: #faf8f7;
    /* Warmer off-white for backgrounds */
    --color-dark-bg: #17181F;
    --color-light-bg: #20212A;
    --color-lm-light-bg: #f7f7f9;
    --color-lm-dark-bg: #b4b8bf;

    --animate-wiggle: wiggle 1s ease-in-out infinite;
    --animate-fade-in: slide-in 0.4s ease-in-out normal;

    @keyframes wiggle {
        0%, 100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

    @keyframes slide-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}